{% extends "bootstrap/base.html" %}
{% block title %}ChaosWG Manager{% endblock %}

{% block metas %}
{{super()}}
<meta name="apple-mobile-web-app-title" content="ChaosWG">
<meta name="application-name" content="ChaosWG">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{url_for('.static', filename='ico/browserconfig.xml')}}">
<meta name="theme-color" content="#ffffff">
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('.static', filename='ico/apple-touch-icon.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('.static', filename='ico/favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('.static', filename='ico/favicon-16x16.png')}}">
<link rel="manifest" href="{{url_for('.static', filename='ico/site.webmanifest')}}">
<link rel="mask-icon" href="{{url_for('.static', filename='ico/safari-pinned-tab.svg')}}" color="#5bbad5">
<link rel="shortcut icon" href="{{url_for('.static', filename='ico/favicon.ico')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ChaosWG Manager</a>
        </div>
        <div class="collapse navbar-collapse" id="navBar">
            {% if current_user.is_authenticated %}
            <ul class="nav navbar-nav">
                {% set active_page = active_page|default('index') %}
                <li
                {% if active_page == "tasks" %} class="active"{% endif %}>
                <a href="/tasks"><span class="glyphicon glyphicon-check"></span> Tasks</a>
                </li>
                <li
                {% if active_page == "users" %} class="active"{% endif %}>
                <a href="/users"><span class="glyphicon glyphicon-user"></span> Users</a>
                </li>
                <li class="dropdown{% if active_page == "history" %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span class="glyphicon glyphicon-time"></span> History <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/history">Overall History</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">User History</li>
                        {% for u in usernames %}
                        <li><a href="/history/{{u}}">{{u}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if not current_user.is_authenticated %}
                <li
                {% if active_page == "login" %} class="active"{% endif %}>
                <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                {% else %}
                <li><a href="/admin"><span class="glyphicon glyphicon-cog"></span> Admin</a>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout {{current_user.username}}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
