{% extends "base.html" %}
{% set active_page = "history" %}
{% block title %}ChaosWG Manager - Overall History{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Overall History</h2>
            <canvas id="historyChart"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="{{url_for('.static', filename='js/string_to_color.js')}}"></script>
<script src="{{url_for('.static', filename='js/history.js')}}"></script>
{% endblock %}