{% extends "base.html" %}
{% set active_page = "tasks" %}
{% block title %}ChaosWG Manager - Tasks{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Backlog</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Points</th>
                        <th>Last done</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in backlog %}
                    <tr data-bs-toggle="popover" data-taskid="{{task.id}}"
                        title="{{task.task}} <span class='btn-close ms-1'></span>">
                        <td>{{task.task}}</td>
                        <td>{{task.base_points}}</td>
                        <td>{{task.last_done|timedelta}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-4">
            <h2>ToDo</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Points</th>
                        <th>Last done</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in todo %}
                    <tr data-bs-toggle="popover" data-taskid="{{task.id}}"
                        title="{{task.task}} <span class='btn-close ms-1'></span>"
                        {% if task.points - task.base_points>= 2 %}
                        class="table-danger"
                        {% elif task.points - task.base_points >= 1 %}
                        class="table-warning"{% endif %}>
                        <td>{{task.task}}</td>
                        <td><strong>{{task.points}}</strong> {% if task.points != task.base_points
                            %}({{task.base_points}}){% endif %}
                        </td>
                        <td>{{task.last_done|timedelta}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-4">
            <h2>Done</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Points</th>
                        <th>Last done</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in done %}
                    <tr data-bs-toggle="popover" data-taskid="{{task.id}}"
                        title="{{task.task}} <span class='btn-close ms-1'></span>">
                        <td>{{task.task}}</td>
                        <td>{{task.base_points}}</td>
                        <td>{{task.last_done|timedelta}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <div class="progress" style="height: 1.5rem">
                <div class="progress-bar bg-warning text-dark" role="progressbar" style="width:{{progress['backlog']}}%"
                     aria-valuenow="{{progress['backlog']|int}}" aria-valuemin="0" aria-valuemax="100">
                    {{progress['backlog']|int}}% Backlog
                </div>
                <div class="progress-bar bg-danger" role="progressbar" style="width:{{progress['todo']}}%"
                     aria-valuenow="{{progress['todo']|int}}" aria-valuemin="0" aria-valuemax="100">
                    {{progress['todo']|int}}% ToDo
                </div>
                <div class="progress-bar bg-success" role="progressbar" style="width:{{progress['done']}}%"
                     aria-valuenow="{{progress['done']|int}}" aria-valuemin="0" aria-valuemax="100">
                    {{progress['done']|int}}% Done
                </div>
            </div>

            <a href="create_task" class="btn btn-secondary mt-3">Create Task</a>
            <a href="do_custom_task" class="btn btn-secondary ms-2 mt-3">Do Custom Task</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/tasks.js')}}"></script>
{% endblock %}
