{% extends "base.html" %}
{% set active_page = "tasks" %}
{% block title %}ChaosWG Manager - Tasks{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Backlog</h2>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Points</th>
                        <th>Last done</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in backlog %}
                    <tr data-toggle="popover" title="{{task.task}} <a href='#' class='close' data-dismiss='alert'>×</a>"
                        data-taskid="{{task.id}}">
                        <td>{{task.task}}</td>
                        <td>{{task.base_points}}</td>
                        <td>{{task.last_done|timedelta}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-sm-4">
            <h2>ToDo</h2>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Points</th>
                        <th>Last done</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in todo %}
                    <tr data-toggle="popover" title="{{task.task}} <a href='#' class='close' data-dismiss='alert'>×</a>"
                        {% if task.points - task.base_points>= 2 %}
                        class="danger"
                        {% elif task.points - task.base_points >= 1 %}
                        class="warning"{% endif %}
                        data-taskid="{{task.id}}">
                        <td>{{task.task}}</td>
                        <td><strong>{{task.points}}</strong> {% if task.points != task.base_points
                            %}({{task.base_points}}){% endif %}
                        </td>
                        <td>{{task.last_done|timedelta}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <div class="col-sm-4">
            <h2>Done</h2>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Points</th>
                        <th>Last done</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in done %}
                    <tr data-toggle="popover" title="{{task.task}} <a href='#' class='close' data-dismiss='alert'>×</a>"
                        data-taskid="{{task.id}}">
                        <td>{{task.task}}</td>
                        <td>{{task.base_points}}</td>
                        <td>{{task.last_done|timedelta}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width:{{progress['backlog']}}%">
                    {{progress['backlog']|int}}% Backlog
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{progress['todo']}}%">
                    {{progress['todo']|int}}% ToDo
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{progress['done']}}%">
                    {{progress['done']|int}}% Done
                </div>
            </div>

            <a href="create_task" class="btn btn-default" role="button">Create Task</a>
            <a href="do_custom_task" class="btn btn-default" role="button">Do Custom Task</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/tasks.js')}}"></script>
{% endblock %}
