{% extends "base.html" %}
{% set active_page = "users" %}
{% block title %}ChaosWG Manager - Users{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Users</h2>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Points</th>
                        <th>Last update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                    <tr>
                        <td>{{u.username}}</td>
                        <td>{{u.points}}</td>
                        <td>{{u.last_update|timedelta}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <canvas id="userChart"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="{{url_for('.static', filename='js/users.js')}}"></script>
{% endblock %}
