{% extends "base.html" %}
{% block title %}ChaosWG Manager - History of {{username}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>History of {{username}}</h2>
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Task</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                {% for i in userhist %}
                <tr>
                    <td>{{i.time|datetime}}</td>
                    <td>{{i.task}}</td>
                    <td>{{i.points}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}