{% extends "base.html" %}
{% block title %}ChaosWG Manager - Tasks{% endblock %}

{% block content %}
<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col-sm-4">
            <h2>Backlog</h2>
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>Task</th>
                    <th>(base) Points</th>
                    <th>Last done</th>
                </tr>
                </thead>
                <tbody>
                {% for task in backlog %}
                <tr>
                    <td>{{task.task}}</td>
                    <td>({{task.base_points}}) <strong>{{task.points}}</strong></td>
                    <td>{{task.last_done|datetime}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-sm-4">
            <h2>ToDo</h2>
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>Task</th>
                    <th>(base) Points</th>
                    <th>Last done</th>
                </tr>
                </thead>
                <tbody>
                {% for task in todo %}
                <tr>
                    <td>{{task.task}}</td>
                    <td>({{task.base_points}}) <strong>{{task.points}}</strong></td>
                    <td>{{task.last_done|datetime}}</td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

        <div class="col-sm-4">
            <h2>Done</h2>
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>Task</th>
                    <th>(base) Points</th>
                    <th>Last done</th>
                </tr>
                </thead>
                <tbody>
                {% for task in done %}
                <tr>
                    <td>{{task.task}}</td>
                    <td>({{task.base_points}}) <strong>{{task.points}}</strong></td>
                    <td>{{task.last_done|datetime}}</td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}