{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <!-- ... -->
</div>
{% endblock %}

{% block content %}
<h1>Users</h1>
<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <th>User</th>
        <th>Points</th>
        <th>Last update</th>
    </tr>
    </thead>
    <tbody>
    {% for u in users %}
    <tr>
        <td>{{u.username}}</td>
        <td>{{u.points}}</td>
        <td>{{u.last_update}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}